<nav>

    <ul>
        <li><a href="{% url 'greetings_page' %}" class="bike-link">Home</a></li>
        <li><a href="{% url 'about_page' %}"class="bike-link">About </a></li>
        <li><a href="{% url 'main_store_page' %}"class="bike-link">Shop </a></li>
    </ul>
    <div class="bike-reg">
        <div class="bike-reg-edit-v2">
            
            <p><h3 class="bike-reg-name">Account navigation</h3></p>

            <p><a href="{% url 'login_page' %}"class="bike-reg-edit">Log</a></p>

            <p><a href="{% url 'register_page' %}"class="bike-reg-edit">Reg</a></p>

            <p><a href="{% url 'logout_page' %}"class="bike-reg-edit">idk logout</a></p>
        </div>
    </div>
    </nav>